.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: auto;
  align-items: center;
    /* width: 640px; */
    /* 
    margin: 20px auto;*/
    position: relative; 
  }

